@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-size: 8px;
    --cinza-claro: #d1d1d1;
    --preto: #6b6b6b;
    --azul-escuro: #3d317a;
    --roxo-claro: #6B54DE;
    --grad: linear-gradient(to right top, #2e245e, #3c2f7c, #4b3b9c, #5b48bc, #6b54de);
    --branco: #1f1f1f;
    --black-car: #acacac;
}

body,
header,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
ul,
li,
a,
main,
section,
figure,
img,
p,
button,
div {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}